doctype html
html
    head
        title 쿠플존 시간표 통합관리 서비스

        //- 필수 리소스 파일 로드
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
        link(rel='icon', href='/favicon.ico', type='image/x-icon')


        script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/locale/ko.js')
        //script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js')
        script(src='/asset/moment/min/moment.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css')

        //link(rel='stylesheet', href='/asset/bootstrap/dist/css/bootstrap.min.css')
        //script(src='/asset/jquery/dist/jquery.js')
        //script(src='/asset/jquery-ui/ui/jquery-1-7.js')
        //script(src='/asset/bootstrap/dist/js/bootstrap.js')
        //script(src='/asset/angular/angular.js')
        //script(src='/asset/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
        //link(rel='stylesheet', href='/asset/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css')
        //script(src='/asset/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')

        script(src='/js-asset/waitingDialog.js')
        script(src='/asset/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js')

        //link(rel='stylesheet', href='/asset/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')




    body(ng-app='kuple_info')
        include ../navbar

        script(src='/js/init.js')

        block content
        script(src='/js/apifactory.js')