extends layout
block content

    .container#container
        #login-form(ng-controller='loginController')
            center
                h2 쿠플존 학식 / 버스시간표 통합관리 서비스

            form
                .form-group
                    label(for='exampleInputEmail1') 아이디
                    //input#exampleInputEmail1.form-control(type='email', aria-describedby='', placeholder='UserID')
                    input#exampleInputEmail1.form-control(type='text', aria-describedby='', placeholder='UserID', ng-model='formLogin.userid')
                    //small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
                .form-group
                    label(for='exampleInputPassword1') 비밀번호
                    input#exampleInputPassword1.form-control(type='password', placeholder='Password', ng-model='formLogin.password')

                button.btn.btn-primary.pull-right(type='submit', ng-click='click.login()') 로그인

    script(src='/js/admin/login.js')
    link(rel='stylesheet', href='/css/login.css')