extends layout
block content

    .container-fluid#container(ng-controller='adminShuttleController')
        //div
        //    div(style='float: left')
        div.table-top
            h3 셔틀버스 관리
            a(href='http://sejong.korea.ac.kr/campuslife/facilities/shuttle_bus', target='_blank')
                span.table-top &nbsp;(셔틀버스 링크 바로가기)
        //div.clear
        hr


        // https://www.w3schools.com/bootstrap/bootstrap_forms.asp

        // ng-class='{ "btn-selected" : select.gwan == g[0]}') {{ g[1] }}

        div.table-control
            button.btn.btn-primary(ng-click='click.changeSelection("weekday")',
            ng-class='{ "btn-selected" : sel.week == "weekday" } ') 평일
            button.btn.btn-primary(ng-click='click.changeSelection("weekend")',
            ng-class='{ "btn-selected" : sel.week == "weekend" } ') 주말 (일요일)
            a &nbsp;&nbsp;

            button.btn.btn-primary(ng-click='click.add()') 추가
            a &nbsp;&nbsp;
            button.btn.btn-primary(ng-click='click.save()') 저장


        table.table
            colgroup
                col(width="50px")
                col(width="40%")
                col(width="40%")
                col(width="50px")
            thread
                tr
                    th.t-index -
                    th.t-school 학교
                    th.t-jochiwon 조치원역
                    th.t-btn .
            tbody
                tr(ng-repeat='l in shuttle[sel.week] track by $index')
                    td.t-index
                        span {{ $index + 1}}
                    td.t-school
                        div(uib-timepicker='', ng-model='shuttle[sel.week][$index]["school"]')
                    td.t-jochiwon
                        div(uib-timepicker='', ng-model='shuttle[sel.week][$index]["jochiwon"]')
                    td.t-btn
                        button.btn.btn-primary.btn-delete(ng-click='click.delete($index)') 삭제




        //table
            tr.tr-first
                th -
                th 학교
                th 조치원역
            tr(ng-repeat='l in shuttle[sel.week] track by $index')
                td
                    button.btn.btn-primary.btn-delete(ng-click='click.delete($index)') 삭제
                td
                    input(ng-model='shuttle[sel.week][$index]["school"]')
                td
                    input(ng-model='shuttle[sel.week][$index]["jochiwon"]')
                //td(ng-repeat='d in loopDest')
                //    input(ng-model='shuttle[sel.week][$index][d[0]]')




        //.row
        //    .col-xs-2
        //        div.col(ng-repeat='l in shuttle[sel.week] track by $index')
        //            button.btn.btn-primary.btn-delete(ng-click='click.delete($index)') 삭제
        //
        //    .col-xs-5
        //        h4 학교
        //        div.col(ng-repeat='l in shuttle[sel.week]["school"] track by $index')
        //            //div(uib-timepicker='', ng-model='mytime', ng-change='changed()', hour-step='hstep', minute-step='mstep', show-meridian='ismeridian')
        //            //div(uib-timepicker='', ng-model='mytime', ng-change='changed()', show-meridian='true')
        //            div(uib-timepicker='', ng-model='shuttle[sel.week]["school"][$index]')
        //            //.input-group.bootstrap-timepicker.timepicker
        //            //    input#timepicker1.form-control.input-small(type='text')
        //            //
        //            //    span.input-group-addon
        //            //        i.glyphicon.glyphicon-time
        //
        //
        //    .col-xs-5
        //        h4 조치원역
        //        div.col(ng-repeat='l in shuttle[sel.week]["jochiwon"] track by $index')
        //            div(uib-timepicker='', ng-model='shuttle[sel.week]["jochiwon"][$index]')

        //.rows
        //    .col-sm-6(ng-repeat='d in loopDest')
        //        center
        //            h4 {{ d[1] }}


        //
        //.rows
        //    .col-sm-3
        //        .form-group
        //            #date-picker.input-group.date
        //                input.form-control(type='text')
        //                span.input-group-addon
        //                    span.glyphicon.glyphicon-calendar
        //
        //    .col-sm-9
        //        div
        //            button.btn.btn-primary.btn-save(ng-click='click.save()') 저장
        //            //button.btn.btn-danger.btn-delete(ng-click='click.delete()') 삭제
        //            button.btn.btn-primary.btn-gwan(ng-repeat='g in loopGwan',
        //            ng-click='click.changeGwan(g[0])',
        //            ng-class='{ "btn-selected" : select.gwan == g[0]}') {{ g[1] }}
        //

        //button.btn.btn-primary.btn-save.pull-right.float-left(ng-click='click.goDorm()') 식단 바로가기
        //
        //div.clear
        //
        //hr.hr

        //div.table-select-gwan
        //    div
        //        button.btn.btn-primary(ng-repeat='g in loopGwan',
        //        ng-click='click.changeGwan(g[0])') {{ g[1] }}


        //.rows-table-gwan
        //    .col-sm-8.table-meal(ng-repeat='m in loopWeek')



        //.rows.table-gwan
        //    .col-sm-4.table-meal(ng-repeat='m in loopMeal')
        //        // meal?
        //        center
        //            h4.meal {{ m[1] }}
        //
        //        button.btn.btn-primary.pull-right(ng-if='!haksik[select.gwan][m[0]].length',
        //        ng-click='obj.addCourse(m[0])') 코너 추가
        //
        //        // show corner (bf -> corners)
        //        div.table-corner(ng-repeat='c in haksik[select.gwan][m[0]] track by $index')
        //            .form-group.row
        //                //label.col-2.col-form-label(for='example-text-input') 코너 이름
        //                label.col-form-label(for='text-input-name') 코너이름
        //                .col-10
        //                    input#text-input-name.form-control(ng-model='c.name'
        //                    type='text', placeholder='예)한식메뉴')
        //
        //                label.col-form-label(for='text-input-name') 주식메뉴
        //                .col-10
        //                    input#text-input-dish.form-control(ng-model='c.dish'
        //                    type='text', placeholder='예)우삼겹된장찌개')
        //
        //                label.col-form-label(for='text-input-side') 부메뉴(반찬)
        //                .col-10
        //                    input#text-input-side.form-control(ng-model='c.side'
        //                    type='text', placeholder='예)쌀밥, 파래자반볶음, 된장국, ...')
        //
        //            div.pull-right.table-option
        //                button.btn.btn-primary.btn-delete-corner(ng-click='obj.addCourse(m[0])',
        //                ng-if='$last') 추가
        //                button.btn.btn-primary.btn-delete-corner(ng-click='click.deleteCourse(m[0], $index)') 삭제
        //            br
                    hr


        //- breakfirst launch dinner
        //div(ng-repeat='p in loopMeal')





    script(src='/js/admin/shuttle.js')
    //script(src='/asset/jquery-datetime-picker-bygiro/dist/jquery.datetimepicker.ByGiro.js')
    //link(rel='stylesheet', href='/asset/jquery-datetime-picker-bygiro/dist/jquery.datetimepicker.ByGiro.css')
    link(rel='stylesheet', href='/css/admin_shuttle.css')