//- http://codepen.io/shvffle/pen/bwpAEm
//script(src='/public/javascripts/controller/navbar.js')
link(rel='stylesheet', href='/css-import/navbar.css')

//- nav.navbar.navbar-inverse.navbar-fixed-top(ng-controller='navbar') fixed!
nav.navbar.navbar-inverse#application-navbar
    .container-fluid
        .navbar-header
            a.navbar-brand
                span#navbar-brand-span.navbar-brand-span

                    img#navbar-brand(src='/img/klogo.png', alt='brand')
