@import "style";

#container {
  margin-bottom: 30px;
}

#date-picker {
  max-width: 350px;
}


.table-gwan {
  min-height: 500px;
  //margin-bottom: ;
}

.table-meal {
  //padding-left: 5px;
  //padding-right: 5px;
  border: 1px solid black;
  min-height: 400px;
  margin-bottom: 10px;
  //margin-right: ;
}

.table-corner {
  padding-left: 10px;
  padding-right: 10px;
}


.table-command {
  margin-bottom: 10px;
}

.col-10 {
  margin-bottom: 10px;
}


.table-option {
  margin-top: -15px;
  button {
    margin-left: 1px;
  }
}

.btn-delete-corner {

  //margin-top: -15px;
  //margin-right: -10px;
}

//.col-10 {
//  max-width: 90%;
//}