@CLR_KUPLE_BACK: #333;
@CLR_WHITE: #FFFFFF;


body {
  background-color: @CLR_KUPLE_BACK;
}


#container {
  margin-top: 20px;
  background-color: @CLR_WHITE;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.6);
}


.btn-clear {
  background-color: #FFFFFF !important;
  color: #000000 !important;
}


.disable-radius {
  border-radius: 0;
}

.btn-kuple {
  background-color: #1d0000;
}

.btn {
  .disable-radius;
  //border: 2px solid white;
  //border: 1px solid black;
}


.btn-link {
  color: #7a0600 !important;
}

.btn-primary {
  background-color: #7a0600!important;
  border: none;
}


.btnSelected {
  background-color: #3f0300 !important;
}

.btn-selected {
  .btnSelected
}

  // rewrite border (datetimepicker) option
.form-control {
  .disable-radius;
}

.input-group-addon {
  .disable-radius;
}

#date-picker {
  line-height: 1.42857143;
}

//body {
//  padding: 50px;
//  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
//}
//
//a {
//  color: #00B7FF;
//}
