doctype html
html
    head
        title=title

        //- 필수 리소스 파일 로드
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
        link(rel='icon', href='/favicon.ico', type='image/x-icon')
        //
        //link(rel='stylesheet', href='/asset/bootstrap/dist/css/bootstrap.min.css')
        //
        //script(src='/asset/jquery/dist/jquery.min.js')
        //script(src='/asset/angular/angular.min.js')
        //script(src='/asset/bootstrap/dist/js/bootstrap.min.js')
        //
        //link(rel='stylesheet', href='/asset/font-awesome/css/font-awesome.min.css')
        //link(rel='stylesheet', href='/asset/bootstrap/dist/css/bootstrap.min.css')
        //script(src='/js-asset/waitingDialog.js')
        //link(rel='stylesheet', href='/pub/imported-css/NotoSansKR-Hestia-remote.css')
        //link(rel='stylesheet', href='/css/mobile.css')


        script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
        script(src='/asset/bootstrap-timepicker/js/bootstrap-timepicker.js')
        link(rel='stylesheet', href='/css-asset/bootstrap-datepicker.min.css')

        script(src='/asset/moment/min/moment.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-touch.min.js')
        script(src='https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.min.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u', crossorigin='anonymous')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css')
        script(src='/js-asset/waitingDialog.js')
        script(src='/asset/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js')

    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-86655225-5')
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-86655225-5');



    body(ng-app='kuple_info')

        include ../navbar

        script(src='/js/init.js')
        block content
        script(src='/js/apifactory.js')
