extends layout

block content

    //link(rel='stylesheet', href='/css-import/haksik.css')
    link(rel='stylesheet', href='/css/shuttle.css')

    div(ng-controller='mobileShuttleController')

        .container-fluid.tabview
            ul.list-inline.tabsize
                li(ng-class="{'tabSelected': select.location == 'school'}", ng-click="click.changeLocation('school')")
                    center
                        a 학교
                li(ng-class="{'tabSelected': select.location == 'jochiwon'}", ng-click="click.changeLocation('jochiwon')")
                    center
                        a 조치원역

        //- deprecated!
        .container-fluid(ng-if='!def').select-first
            center
                h4 이런! 서버에 셔틀버스 정보가 없습니다.



        .container-fluid(ng-if='get.week() == "Saturday"').select-first
            center
                h4 토요일에는 셔틀버스가 운영되지 않습니다.

        //.container-fluid(ng-if='(get.week() != "Saturday") && get.gap() == null').select-first
        //    center
        //        h4 오늘의 배차가 마감되었습니다.

        div(ng-if='get.week() != "Saturday"')

            .container-fluid.main-time(ng-if='def && (get.gap() != null)')
                div
                    center
                        h4.message 현재 시간
                        br
                        h4 {{ formatTime(time); }}

                div
                    center
                        h4.message 다음 배차시간
                        br
                        h4.sizeup {{ formatTime(get.nearTime()) }}
                    br
                    center
                        h4.message {{ get.location() }}
                        h4 에서 다음 배차까지
                        h4.message.sizeup &nbsp{{ get.gap() }}&nbsp
                        h4.sizeup 분 남았습니다!

            .container-fluid.main-time(ng-if='def && (get.gap() == null)')
                div 
                    center
                        h4 오늘의 배차가 마감되었습니다.

            hr 

            //div.table-container
            div.table-container
                table.table
                    colgroup
                        col(width="10px")
                        col(width="40%")
                        col(width="40%")
                    thread
                        th -
                        th 학교
                        th 조치원역
                    tbody
                        tr(ng-repeat="l in shuttle[get.week()] track by $index",
                        ng-class="{'timeSelected' : $index == select.index}")
                            td(id="time-{{$index}}")
                                span {{ $index + 1 }}
                            td
                                h4 {{ formatTime(shuttle[get.week()][$index]['school']) }}
                            td
                                h4 {{ formatTime(shuttle[get.week()][$index]['jochiwon']) }}

        //.container-fluid
        //    center
        //        div.container-top
        //            h4 {{ date }}
        //
        //            div
        //                button.btn.btn-primary(ng-class="{'btnSelected': select.meal == 'breakfirst'}",
        //                ng-click='click.meal("breakfirst")') 아침
        //
        //                button.btn.btn-primary(ng-class="{'btnSelected': select.meal == 'launch'}",
        //                ng-click='click.meal("launch")') 점심
        //
        //                button.btn.btn-primary(ng-class="{'btnSelected': select.meal == 'dinner'}",
        //                ng-click='click.meal("dinner")') 저녁
        //
        //
        //
        //
        //    .container.haksik-course-list
        //
        //        div(ng-if='haksik[select.tab][select.meal].length === 0 || haksik === null')
        //            center
        //                br
        //                br
        //                h4 메뉴가 존재하지 않습니다.
        //
        //
        //        .haksik-course(ng-repeat="data in haksik[select.tab][select.meal]")
        //            center
        //                h3.course {{ data.name }}
        //                h4.dish {{ data.dish }}
        //                h4 {{ data.side }}

    //script(src='/js/mobile/haksik.js')
    script(src='/js/mobile/shuttle.js')
