/* navbar 테두리 조정 */
.navbar {
  border: none;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  min-height: 63px !important;
}

/* navbar 백드라운드 색 */
.navbar-inverse {
  /*background-color: #bfbcbf;*/
  /*background-color: #f3f3f3;*/
  /*background-color: #ffffff;*/
  background-color: #a50000;
}

/* 브랜드 이름 글씨색 */
.navbar-brand-span {
  color: #a50000;
  /*font-family: "Helvetica" !important;*/
  /*font-weight: 600;*/
}

.navbar-toggle {
  /*background-color: #545050 !important;*/
  background-color: #000000 !important;
}

/* 브랜드 이름 크기 - 디바이스 크기에 맞게 조절 */
@media all and (max-width: 480px) {
  #navbar-brand-span {
    font-size: 16px;
  }
}

@media all and (max-width: 360px) {
  #navbar-brand-span {
    font-size: 13px;
  }
}

/* ****************************************** */

#navbar-brand {
  margin-top: -9px;
  vertical-align: top;
}

/*강제로 bordrer-bottom 을 설정함으로써 hover 시 차이를 못느끼게 적용*/
.navbar-inverse .navbar-nav>li {
  border-bottom: 3px solid #f3f3f3;
  margin-top: 1px;
  padding-bottom: -4px;
  font-size: 14px;
}



/*.navbar-inverse .navbar-effect .navbar-nav>li:hover {*/
.navbar-inverse .navbar-effect>li:hover {
  /*background-color: rgba(142, 0, 18, 0.73);*/
  /*box-shadow: inset 0 0 3px #a50000;*/
  /*box-shadow: 0 0 0 3px #a50000 inset;*/
  background-color: rgba(210, 0, 27, 0.21);
  border-bottom: 3px solid #d2001b !important;
}

.navbar-active {
  background-color: rgba(142, 0, 18, 0.21);
  border-bottom: 3px solid #a50000 !important;
}


/*선택지 글씨 검은색 / hover 해제*/
.navbar-inverse .navbar-nav>li>a {
  color: #000000;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #000000;
}

.navbar-another {
  color : #f4dd5c; !important;
  font-weight: 800;
}

.navbar-2 {
  background-color: #000000;
}

.navbar-message {
  color: #000000 !important;
  margin-top: 16px;
  margin-left: 10px;
  font-weight: 800;
}